<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= link_to "Log In with Facebook", "auth/facebook" %> |
<%= link_to "Log In with Twitter", "auth/twitter" %> |
<%= link_to "Log In with GitHub", "auth/github" %>