<h1>Editing Meeting</h1>

<%= render 'form' %>

<%= link_to 'View Meeting', @meeting %> |
<%= link_to 'Back To Calendar', user_path(current_user.id) %> |
<%= link_to 'Upcoming Meetings', meetings_path %>
