<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to eatgamecode.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up with the Omni-Scheduler!
    </p>
    <p>
      Follow this link to see the exciting things I'm working on: <%= @url %>.
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>