<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if signed_in? && params[:id].to_i == current_user.id %>
  <%= link_to "New Event", new_meeting_path %>
  <%= month_calendar events: @meetings do |date, meetings| %>
    <%= date.day %>
    <% meetings.each do |meeting| %>
      <div>
        <%= link_to "#{meeting.name}: #{meeting.starts_at} - #{meeting.ends_at}", meeting_path %>
      </div>
    <% end %>
  <% end %>
<% end %>