<h1>Welcome to Omni-Scheduler</h1>

<main class="welcome-page">
  <p>This site is still in development. Please feel free to explore it and make use of it. You can reach me at <%= mail_to "eatgamecode@gmail.com" %> with any questions, suggestions, or technical issues.</p>
</main>