<h1>Welcome to Omni-Scheduler</h1>

<main class="welcome-page">
  <p>
    Thank you for visiting Omni-Scheduler.
    This site is still in development, but please feel free to explore it and make use of it.
    You can reach me at <%= mail_to "eatgamecode@gmail.com" %> with any questions, suggestions, or technical issues.
  </p>
  <div>
    <h2>Future Features:</h2>
    <ul>
      <li>Start/End Date validation (Events can't end before they start)</li>
      <li>User friendship functionality</li>
      <li>User privacy settings</li>
      <li>Event privacy settings</li>
      <li>Email notifications for upcoming events</li>
    </ul>
  </div>
</main>