/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Import*/

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans')*/

/*Global reset*/

html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: Arimo, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

/*Gloabl tag settings*/

a, a:visited {
  text-decoration: none;
  color: #404;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  color: #208;
  background-color: inherit;
}

h1 {
  color: #000;
  margin: 15px 0;
  text-align: center;
  line-height: 32px;
}

h2 {
  color: #000;
  margin: 20px 0 5px 0;
  padding: 2px;
  line-height: 28px;
}

h3 {
  color: #000;
  margin: 10px 0 10px 0;
  line-height: 24px;
}

h1 a, h2 a, h3 a {
  font-size: inherit;
}

p, li {
  color: #000;
  margin: 5px 0;
  font-size: 14px
}

p.default {
  text-align: center;
  padding-top: 10px;
}

ul, ol {
  padding: 0 0 0 30px;
}

/*li {
  
}*/

table {
  padding-left: 10px;
}

th {
  text-align: left;
  font-size: 16px;
}

td {
  padding-right: 8px;
}

form {
  padding-left: 10px;
}

label {
  font-size: 18px;
}

strong, th {
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: bolder;
}

/*Custom Header settings*/

header {
  padding: 10px 5px;
  background-color: #d33;
}

header span {
  display: block;
  text-align: right;
  padding-right: 10px;
}

header h1 a {
  text-align: center;
  font-size: 28px;
}

header a {
  color: #fff;
}

header a:visited {
  color: #fff;
}

header a:hover {
  color: #eed;
  background-color: inherit;
}

/*Custom Nav settings*/

nav {
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
}

#meeting-text {
  display: inline;
  width: 200px;
}

#meeting-date {
  display: inline;
  width: 320px;
}

.new-meeting-link, .meetings-link {
  font-size: 20px;
  line-height: 30px;
}

/*Custom Main settings*/

main {
  width: 325px;
  margin: 0 auto;
  padding: 10px 200px;
  background-color: #fff;
}

main.welcome-page {
  width: 80%;
  /*margin: 0 auto;*/
}

main.meetings-list {
  width: 90%;
  padding: 10px 0;
}

main.meetings-list table {
  padding-top: 10px;
  margin: 0 auto;
}

main input, main textarea {
  width: 300px;
}

main input[type=submit] {
  width: 120px;
}

main div.actions {
  text-align: center;
}

/*Media queries*/

@media only screen and (max-width : 768px) {
  main {
    padding: 10px 0;
  }
}